body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
li {
    display: inline;
    margin-right: 110px;
}
nav {
    text-align: center;
}
@media screen and (max-width:1422px) {
  li {
      display: block;
      margin-right: 80px;
  }
}